.banner {
  background-image: url("../../images/bg-dave-hoefler.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-info {
  margin-left: 90px;
  color: lightyellow;
}
