.cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: lightgreen;

}

.btn {
  background-color: rgb(184, 134, 19 , 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

.btn:hover {
  background-color: rgb(184, 134, 19, 0.8);
}

.box {
  width: 200px;
  padding: 80px;
  color: lightyellow;
}

.box p {
  margin-bottom: 30px;
}
